body{
    background:rgba(0, 119, 255, 0.644);

}

header{
    text-align: center;
    color:white;
}

section{
    
    background:white;
    width:400px;
    margin:auto;
    padding:20px;
    border-radius: 6px;
    box-shadow:3px 3px black;
}

footer{
    text-align:center;
    padding: 5px;
}