header{
    text-align: center;
}
body{
    background:rgb(149, 192, 241);
}

section{
    text-align: center;
    background:rgba(69, 18, 18, 0.713);
    padding: 20px;
    width:200px;
    margin:auto;
}